<template name="serverStatus">
  <div class="ui stackable grid">
    <div class="five wide column">
      <div class="ui labels">
        <div class="ui basic right pointing label">
          Load average
        </div>
        {{#each loadAverage}}
        <div class="ui label">
          {{roundTwo this}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui active yellow progress" id="diskUsage">
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label">{{humanFileSize diskUsage.available true}} available</div>
      </div>
    </div>
  </div>
  <h4 class="ui center aligned header">FTP is running on port <div class="ui large green label">{{ftpPort}}</div><br>We recommend <a href="https://cyberduck.io/" target="_blanck">Cyberduck</a></h4>
</template>
