<template name="serverStatus">
  <div class="ui bottom fixed mini inverted borderless menu">
    <div class="header item">
      {{{_ 'ftp_open_on_port' ftpPort= ftpPort}}}
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui small labels">
          <div class="ui right pointing black label">
            {{_ 'load_average'}}
          </div>
          {{#each loadAverage}}
            <div class="ui label">
              {{roundTwo this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
