<template name="header">
  <div class="ui top fixed inverted big icon borderless menu">
    <div class="ui container">
      <a class="item" href="/" title="Torrents Duck">
        <img src="/img/duck_white.svg" alt="Torrents Duck">
        <!-- {{> logo src='/img/duck_white.svg' class='mini'}} -->
      </a>
      <div class="right menu">
        {{#if currentUser.isAdmin}}
          <a class="item" title="Users list" href="/users-list"><i class="users icon"></i></a>
        {{/if}}
        {{#if currentUser}}
          <div class="item" title="Logout" id="logout"><i class="power icon"></i></div>
        {{else}}
          <a class="item" title="Login" href="/sign-in"><i class="user icon"></i></a>
        {{/if}}
      </div>
    </div>
  </div>

  <!-- Log out modal -->
  <div class="ui basic modal" id="logoutModal">
    <div class="ui icon header">
      <i class="red power icon"></i>
      SIGN OUT
    </div>
    <div class="content center-this">
      <p>Do you really want to log out?</p>
    </div>
    <div class="actions">
      <div class="center-this">
        <div class="ui red cancel inverted button">
          <i class="remove icon"></i>
          NO
        </div>
        <div class="ui green ok inverted button">
          <i class="checkmark icon"></i>
          YES
        </div>
      </div>
    </div>
  </div>
</template>
